# Файлы и папки операционной системы
.DS_Store
Thumbs.db
.idea
# Модули проекта
node_modules/
build
# Папка для логирования
logs/

# Файлы авторизации
authclients/
build/amo_token.json

# Любые другие файлы проекта
*.zip
*.svg
